.App {
  margin: 0 auto;
  text-align: center;
  height: 670px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#userTable {
  margin: auto;
}
table,
tbody,
thead,
tr {
  width: 1000px;

  padding-left: 10%;
}
th,
td {
  margin: 20px;
  padding-left: 10%;
  text-align: center;
}
.buttons {
  margin-left: 10px;
}
.neg {
  color: red;
  background: lightgrey;
  font-size: 36px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10%;
  width: 70%;
  margin-left: 15%;
}

.pos {
  color: green;
  background: lightgrey;
  font-size: 36px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10%;
  width: 70%;
  margin-left: 15%;
}
h2 {
  text-align: left;
}
p {
  text-align: left;
  font-weight: bold;
  color: red;
}
label {
  font-weight: bold;
  float: inline-start;
  margin-right: 10px;
}
input {
  display: block;
  font-weight: bold;
}
.save {
  font-weight: bold;
  background-color: aquamarine;
  margin-top: 10px;
  width: 225px;
  margin-right: 10px;
  float: inline-start;
}
.back {
  font-weight: bold;
  background-color: rgb(235, 194, 13);
  margin-top: 10px;
  display: block;
}

.customerDetails {
  background-color: rgb(40, 203, 43);
  border-style: solid;
  width: 1200px;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 30px;
  padding-left: 0%;
  text-align: center;
}

.posts {
  margin: auto;
  background-color: aquamarine;
  max-width: 70%;
  border-radius: 20px;
  border-width: 4px;
  border-style: solid;
  border-color: brown;
  margin-bottom: 2%;
}
.nappi {
  border-radius: 10px;
  margin-left: 20px;
  font-size: 20px;
  background-color: chocolate;
  color: white;
  height: 50px;
}
.kysely {
  margin-left: 500px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.logout {
  margin-left: 100px;
}
.mr-auto {
  margin-left: 400px;
  width: 1000px;
}
